html, body{
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
}

.outer-most {
  overflow: hidden; /* Prevents content from leaking outside */
  position: relative; /* Ensures positioning context */
}

.first-div{
  padding-top: 20.5px;
  padding-left: 128px;
  padding-right: 128px;
  position: relative;
  height: 629.5px;
  background-image: url("assets/Group\ 54.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #B3E5DA;
}
.navbar{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-options{
  display: flex;
  gap: 31px;
  margin-top: auto;
  margin-bottom: auto;
  color: white 70%;
}

.image-1 {
  position: absolute; /* Allows precise positioning */
  left: 0;
  top: 539.5px;
  width: 100%; /* Scales image width to container */
  height: auto; /* Adjusts height to maintain aspect ratio */
  display: block; /* Removes inline spacing for images inside containers */
  object-fit: contain; /* Ensures the whole image is visible */
}
.image-2 {
  position: absolute; /* Overlap on top of the first image */
  top: 562.5px; /* Align with the top of the container */
  left: 0;
  width: 100%; /* Scales image width to container */
  height: auto; /* Adjusts height to maintain aspect ratio */
  display: block; /* Removes inline spacing for images inside containers */
  object-fit: contain; /* Ensures the whole image is visible */
}

.second-div{
  padding-top: 80px;
  padding-left: 128px;
  padding-right: 128px;
  background-color: #F5F5F5;
  height: 620px;
}

.second-div-pictures{
  display: flex;
  gap: 36px;
}

.second-div-issues{
  display: flex;
  gap: 36px;
  margin-top: 32px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font; 
  text-decoration-skip-ink: none;
}

.second-div-successrate{
  margin-top: 10px;
  width: 371px;
  height: 52px;
  border-radius: 4px;
  border: 2px solid #5BC8AF;
  text-align: center;
}
.second-div-rate-svg{
  margin-top: 15px;
}

.third-div{
  width: 100%;
}

.testimonials{
  display: flex;
  padding-left: 128px;
  padding-right: 128px;
}

.testimonials-client{
  margin-left: 54px;
  margin-top: -30px;
  height: 269px;
  width: 269px;
  box-shadow: 0px 10px 30px 0px #0000001F;
}

.testimonial-description{
  margin-top: -30px;
  margin-left: 36px;
  margin-right: 54px;
  padding-left: 65px;
  width: 675px;
  height: 269px;
  background-color: #194D44;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.testimonial-description-2{
  margin-top: 16px;
  margin-right: 65px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.three-dots{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px ;
  width: 120px;
  height: 16px;
  gap: 30px;
  margin-bottom: 100px;
}

.offerings{
  margin-top: 100px;
  margin-left: 128px;
}

.offerings-description{
  display: flex;
  margin-top: 32px;
  gap: 36px;
}

.offerings-description-2{
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  gap: 36px;
  max-width: 1185px;
}

.each-offering{
  border-radius: 4px;
  border: 2px solid #5BC8AF;
  text-align: center;
  width: 367px;
  height: 92px;
  font-size: 18px;  
  display: flex;       
  justify-content: center; 
  align-items: center;
}

.fourth-div{
  display: flex;
  margin-top: 100px;
  position: relative;
}
.description{
  background-image: url("assets/vid-shape-grad.svg");
  width: 755px;
  z-index: 3;
  height: 648px;
}
.vid-desc-shape{
  position: absolute;
  width: 779px;
  height: 648px;
  z-index: 2;
}
.video-section{
  position: absolute;
  margin-left: 691px;
  z-index: 1;;
}
.checkpoint-group{
  margin-top: 48px;
  margin-left: 128px;
  margin-bottom: 93px;
}
.checkpoint{
  display: flex;
  width: 430px; 
}
.checkmark{
  margin-top: 5px;
}
.checkpoint-heading{
  color: #FFFFFF; 
  font-size: 24px; 
  font-weight: bold;
  width: 430px; 
}
.checkpoint-desc{
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400; 
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  opacity: 80%;
}
.play-button{
  position: absolute;
  z-index: 2;
  margin-left: 976px;
  margin-top: 220px;
}
.footer-div{
  width: 1440px;
  height: 100px;
  background: #EAEAEA;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.copyright{
  color: #757575;
  margin-left: 128px;
  margin-top: 38px;
  font-size: 14px;
}
.privacy-policy{
  color: #757575;
  margin-right: 128px;
  margin-top: 38px;
  font-size: 14px;
}
.option:hover{
  text-decoration: underline;
  color: #FFFFFF;
}

.form-div{
  display: flex;
  gap: 109px;
}
.form-comp{
  width: 472px;
  height: 449px;
  margin-top: 66px;
  left: 840px;
  border-radius: 12px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
}
.input-form{
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 34px;
}
.input-form-1{
  display: flex;
  gap: 16px;
}
.input-form-2{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.each-input{
  background: none;
  outline: none;
  border: 1px solid;
  color: #FFFFFF;
  opacity: 50%;
  width: 200px;
  height: 48px;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
}
.each-input::placeholder{
  color: #FFFFFF;
}
.countries-select{
  width: 416px;
  height: 48px;
  margin-top: 16px;
  border-radius: 2px;
  border: 1px solid;
  background: none;
  outline: none;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 50%;
  padding-left: 16px;
  padding-right: 22px;
}
.sbmt-btn-comp{
  display: flex;
  justify-content: center;
  margin-top: 41px;
}
.sbmt-btn{
  display: flex;
  width: 221px;
  height: 56px;
  top: 464px;
  border-radius: 4px;
  opacity: 0px;
  background: #5BC8AF;
  color: #FFFFFF;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}